{% extends 'base.html' %}
{% load static%}
{% block body %}
    <body>
    <div class="container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Change password</h3>
        </div>
            
            <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
            
            <div class="card-text">
                <form action="" method="post"> 
                    {% csrf_token %}
                    {{ form.as_p }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{user}}</strong>!@ MAKE YOUR PASSWORD @!
      <a class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Your new password</label>
                        <input type="password" class="form-control form-control-sm" name="pass1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Repeat password</label>
                        <input type="password" class="form-control form-control-sm">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
                    <div>
                    <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-secondary btn-block submit-btn">Back</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>










    </body>

{% endblock %}
