{% extends 'base.html' %}
{% block body %}
<body style="background-color:slategray;">
{% load static %}
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static 'vk.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'musicpic.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'HD.jpg'%}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

     <!-- //////////////////// cards - -->
    <div class="container">
    <h2 style="padding-left: 7%;padding-top: 2%; font-family: 'verdana';">trending song</h2>
    <div class="row" style="padding-top: 2%; padding-left: 7%">
    {% for i in song %}
    <div style="padding: 2%;">
    <div class="card" style="width: 18rem;">
      <img src="/media/{{i.album_picture}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.song_name}}</h5>
        <p class="card-text">{{i.album_title}}</p>
        <a href="/listen_song/{{i.song_id}}" class="btn btn-primary">listin</a>
      </div>
      </div>
    </div>
    {% endfor %} 
    </div>
 -
   <!-- <div style="padding: 2%;">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">listin</a>
        </div>
      </div>
    </div>
    <div style="padding: 2%;">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">listin</a>
        </div>
      </div>
    </div>
 </div> -->


<div class="container">
<h2 style="padding-left: 7%;padding-top: 2%; font-family:'verdana';">playlist</h2>
<div class="row" style="padding-top: 2%; padding-left: 7%" >
<div style="padding: 2%;">
<div class="card" style="width: 18rem;">
  <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">listin</a>
  </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
</div>
</div>
</div>

<div class="container">
<h2 style="padding-left: 7%;padding-top: 2%; font-family:'verdana';">likes song</h2>
    <div class="row" style="padding-top: 2%; padding-left: 7%" >
<div style="padding: 2%;">
<div class="card" style="width: 18rem;">
  <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">listin</a>
  </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-titl</div>e">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
</div>
</div>
</body>
{% endblock %}
