<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    {% load static %}
    <!-- Example Code -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MUSIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{%static 'vk.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'musicpic.jpg'%}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{%static 'HD.jpg'%}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- //////////////////// cards -->
    <h2 style="padding-left: 7%;padding-top: 2%; font-family: 'verdana';">trending song</h2>
    <div class="row" style="padding-top: 2%; padding-left: 7%">
    <div style="padding: 2%;">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">listin</a>
      </div>
      </div>
    </div>
    <div style="padding: 2%;">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">listin</a>
        </div>
      </div>
    </div>
    <div style="padding: 2%;">
      <div class="card" style="width: 18rem;">
        <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">listin</a>
        </div>
      </div>
    </div>
</div>



<h2 style="padding-left: 7%;padding-top: 2%; font-family:'verdana';">playlist</h2>
<div class="row" style="padding-top: 2%; padding-left: 7%" >
<div style="padding: 2%;">
<div class="card" style="width: 18rem;">
  <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">listin</a>
  </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
</div>


<h2 style="padding-left: 7%;padding-top: 2%; font-family:'verdana';">likes song</h2>
    <div class="row" style="padding-top: 2%; padding-left: 7%" >
<div style="padding: 2%;">
<div class="card" style="width: 18rem;">
  <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">listin</a>
  </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
<div style="padding: 2%;">
  <div class="card" style="width: 18rem;">
    <img src="{%static 'vk.jpg'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">listin</a>
    </div>
  </div>
</div>
</div>
    
    <!-- End Example Code -->
  </body>
</html>